@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    transition: background-image 0.5s ease-in-out;
    background-color: #254d9c;
    /* background-size: cover; */
    background-repeat: no-repeat;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 150px;
    height: 150px;
    margin: 180px;
    margin-top: 100px;

}

.cell {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 3rem;
    border: 3px solid white;
    cursor: pointer;
    color: white;
    /* z-index: 10; */
}

.overlay-grid {
    background-color: rgba(0, 0, 0, 0.253);
}

h1 {
    font-size: 50px;
    color: beige;
    font-weight: bold;
}

button {
    width: 300px;
    color: white;
    background-color: black;
    position: absolute; bottom: 150px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    font-size: 30px;
    padding: 10px 20px;
    display: inline-block;
}


#PT-el {
    font-family: "Dancing Script", cursive;
    text-transform: uppercase;
}

.player-O {
    background-color: rgba(210, 105, 30, 0.582);
    
}
.player-X {
    background-color: rgba(255, 0, 0, 0.582);
    animation: pl-x 2s ease-out 0s forwards;
}

.purple {color: purple;}
.blue {color: skyblue;}


.rolling-O {
    position: absolute;
    animation: pl-O 1s ease-out 0s forwards;
    background-color: skyblue;
}

.rolling-X {
    position: absolute;
    animation: pl-X 1s ease-out 0s forwards;
    background-color: purple;
}

@keyframes pl-X {
    0%{
        right: 5px;
    }
    50%{ left: 50px;}
    75%{ left : 70px}
    100% {
        left: 5px;
    
    }
}

@keyframes pl-O {
    from{
        left: 5px;
    }
    50%{ right: 50px;}
    75%{ right : 70px}
    
     to {
        right: 5px;
    }
}

.fiftyWidth {
    max-width: 50%;
    margin:0 auto;
}

.fade {
    background-color: hsla(0, 0%, 0%, 0.4);
  }
  
@media screen and (max-width: 768px) {
    .body {
        font-size: 12px;
    }
}

/* Medium screens (tablets) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .body {
        font-size: 16px;
    }
}

/* Large screens (desktops) */
@media screen and (min-width: 1025px) {
    .body {
        font-size:18px;
    }
}