@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(''); /* Initial empty background */
    background-size: 70%;
    transition: background-image 0.5s ease-in-out; /* Smooth transition */
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid whitesmoke;
    /* display: flex;
    justify-content: center; 
    align-content: center;
    align-items: center; */
    height: 50px;
    width: 180px;
    border-radius: 6px;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: grid;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.493);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* div {
    background-color: rgba(0, 0, 0, 0.404);
} */

.title {
    background-color: rgba(0, 0, 0, 0.493);
    color: aliceblue;
    font-weight: bolder;
    font-size: xx-large;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 150px;
    height: 150px;
    margin: 180px;
    margin-top: 100px;
    display: grid;
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 5rem;
    cursor: pointer;
    
    /* z-index: 10; */
}

#PT-el {
    font-family: "Dancing Script", cursive;
    text-transform: uppercase;
}

.player-O {
    background-color: rgba(210, 105, 30, 0.582)
    
}
.player-X {
    background-color: rgba(255, 0, 0, 0.582);
    animation: pl-x 2s ease-out 0s forwards;
}

.purple {color: purple;}
.blue {color: skyblue;}


.rolling-O {
    position: absolute;
    animation: pl-O 1s ease-out 0s forwards;
    background-color: skyblue;
}

.rolling-X {
    position: absolute;
    animation: pl-X 1s ease-out 0s forwards;
    background-color: purple;
}

@keyframes pl-X {
    0%{
        right: 5px;
    }
    50%{ left: 50px;}
    75%{ left : 70px}
    100% {
        left: 5px;
    
    }
}

@keyframes pl-O {
    from{
        left: 5px;
    }
    50%{ right: 50px;}
    75%{ right : 70px}
    
     to {
        right: 5px;
    }
}

.fiftyWidth {
    max-width: 50%;
    margin:0 auto;
}

.fade {
    background-color: hsla(0, 0%, 0%, 0.4);
}